<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Watson Vieira da Rocha - <a asp-area="Painel" asp-controller="Secure" asp-action="Privacy">Privacidade</a>
    </div>
</footer>